<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>辰景丨CHANGE是一家创意营销服务机构。</title>
    <%=require('html-loader!@/modules/html/html5shiv.html')%>
    <script src="//at.alicdn.com/t/font_1761359_3878837oqu.js"></script>
    <!-- baidu地图 -->
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=rIGMc4PnbV2HPL3S9WKzEs0cbVLyQ4D0"></script>
</head>
<body>
    <!-- 导航栏 -->
    <nav id="nav" >
        <div class="wrap" >
            <img src="<%= require('@/images/logo.png')%>" alt="企业logo" class="logo" >
            <img src="<%= require('@/images/logo-dark.png')%>" alt="企业logo" class="logo-dark" >
            <!-- <div class="title-group" >
                <h4>HTi</h4>
                <p>No humiliation</p>
            </div> -->
            <svg class="icon icon-list" aria-hidden="true">
                <use xlink:href="#icon-list"></use>
            </svg>
            <ul class="nav-list" >
                <li><a href="#about">关于我们</a></li>
                <li><a href="#service">服务</a></li>
                <li><a href="#client">合作案例</a></li>
                <li><a href="#contact">联系我们</a></li>
            </ul>
        </div>
    </nav>

    <!-- banner模块 -->
    <section class="banner" >
        <img src="<%= require('@/images/banner.jpg')%>" alt="宣传图" >
        <h1>
            CHANGE
            <br>
            <p>
                用匠人精神<br>
                打造营销传播匠心之作
            </p>
        </h1>
    </section>

    <!-- 公司介绍 -->
    <section class="company" id="about" >
        <h2>关于公司</h2>
        <article class="introduction" >
            <h3>辰景丨CHANGE是一家创意营销服务机构。</h3>
            <p>公司成立已有4年，总部位于广西南宁五象新区龙光国际，公司拥有专业高效的创意策划团队、创意设计团队、影视制作团队、程序开发团队。</p>
        </article>
        <img src="<%= require('@/images/CHANGE-1200.jpg')%>" alt="宣传图" class="pic-introduction" >
    </section>

    <!-- 服务模块 -->
    <section class="servive" id="service" >
        <h2>服务</h2>
        <article class="introduction" >
            <h3>专业的技术服务团队</h3>
            <p>我们提供品牌全案、创意设计、影视制作、商业拍摄、活动执行、会务接待、媒介采购、程序开发等整合营销服务。</p>
        </article>
        <img src="<%= require('@/images/354x220.jpg')%>" alt="宣传图" class="pic-introduction" >
        <ul class="func-list" >
            <li>
                <h5>
                    <img src="<%= require('@/images/icon-design.png')%>" alt="宣传图" class="icon" >
                    <span>丨品牌设计</span>
                </h5>
                <p>
                    <span>商标设计</span>
                    <span>名片设计</span>
                    <span>画册设计</span><br>
                    <span>LOGO设计</span>
                    <span>易拉宝设计</span>
                    <span>广告牌设计</span><br>
                    <span>VI全套设计</span>
                    <span>宣传单页设计</span>
                    <span>广告宣传品设计</span><br>
                </p>
            </li>
            <li>
                <h5>
                    <img src="<%= require('@/images/icon-create.png')%>" alt="宣传图" class="icon" >
                    <span>丨营销策划</span>
                </h5>
                <p>
                    <span>微信营销</span>
                    <span>公关活动</span>
                    <span>产品文案</span><br>
                    <span>抖音营销</span>
                    <span>微博营销</span>
                    <span>整合营销</span><br>
                    <span>微信文案</span>
                    <span>演艺人员</span>
                    <span>信息流广告</span><br>
                </p>
            </li>
            <li>
                <h5>
                    <img src="<%= require('@/images/icon-video.png')%>" alt="宣传图" class="icon" >
                    <span>丨影视动漫</span>
                </h5>
                <p>
                    <span>3D动画</span>
                    <span>图片后期</span>
                    <span>淘宝视频</span><br>
                    <span>视频特效</span>
                    <span>剪辑配音</span>
                    <span>产品拍摄</span><br>
                    <span>视频定制</span>
                    <span>手绘动画</span>
                    <span>创意广告短片</span><br>
                </p>
            </li>
            <li>
                <h5>
                    <img src="<%= require('@/images/icon-develop.png')%>" alt="宣传图" class="icon" >
                    <span>丨程序开发</span>
                </h5>
                <p>
                    <span>网站定制</span>
                    <span>代理运营</span>
                    <span>软件测试</span><br>
                    <span>定制APP</span>
                    <span>网站维护</span>
                    <span>前端开发</span><br>
                    <span>二次开发</span>
                    <span>模板建站</span>
                    <span>小程序开发</span><br>
                </p>
            </li>
        </ul>
    </section>

    <!-- 相关客户 -->
    <section class="client" id="client" >
        <h2>战略合作伙伴</h2>
        <article class="introduction" >
            <h3>高效专业带来更优质的服务</h3>
            <p>致力于打造横跨多平台的、新颖有互动性的、精准高品质的创意解决方案。公司业务涉及房地产、餐饮娱乐、政企、金融、科技、汽车、快消品等行业。</p>
        </article>
        <ul class="list" >
            <li>
                <img src="<%= require('@/images/friends/客户LOGO-06.jpg')%>" alt="">
            </li>
            <li>
                <img src="<%= require('@/images/friends/客户LOGO-07.jpg')%>" alt="">
            </li>
            <li>
                <img src="<%= require('@/images/friends/客户LOGO-08.jpg')%>" alt="">
            </li>
            <li>
                <img src="<%= require('@/images/friends/客户LOGO-09.jpg')%>" alt="">
            </li>
            <li>
                <img src="<%= require('@/images/friends/客户LOGO-10.jpg')%>" alt="">
            </li>
            <li>
                <img src="<%= require('@/images/friends/客户LOGO-11.jpg')%>" alt="">
            </li>
            <li>
                <img src="<%= require('@/images/friends/客户LOGO-12.jpg')%>" alt="">
            </li>
            <li>
                <img src="<%= require('@/images/friends/客户LOGO-13.jpg')%>" alt="">
            </li>
            <li>
                <img src="<%= require('@/images/friends/客户LOGO-14.jpg')%>" alt="">
            </li>
            <li>
                <img src="<%= require('@/images/friends/客户LOGO-15.jpg')%>" alt="">
            </li>
            <li>
                <img src="<%= require('@/images/friends/客户LOGO-16.jpg')%>" alt="">
            </li>
            <li>
                <img src="<%= require('@/images/friends/客户LOGO-17.jpg')%>" alt="">
            </li>
            <li>
                <img src="<%= require('@/images/friends/客户LOGO-18.jpg')%>" alt="">
            </li>
            <li>
                <img src="<%= require('@/images/friends/客户LOGO-19.jpg')%>" alt="">
            </li>
            <li>
                <img src="<%= require('@/images/friends/客户LOGO-20.jpg')%>" alt="">
            </li>
            <li>
                <img src="<%= require('@/images/friends/客户LOGO-21.jpg')%>" alt="">
            </li>
            <li>
                <img src="<%= require('@/images/friends/客户LOGO-22.jpg')%>" alt="">
            </li>
            <li>
                <img src="<%= require('@/images/friends/客户LOGO-23.jpg')%>" alt="">
            </li>
        </ul>
    </section>

    <!-- 联系我们 -->
    <section class="contact" id="contact" >
        <h2>联系我们</h2>
        <article class="introduction" >
            <h3>期待您的联系</h3>
            <p>
                “匠心精神塑造品质、执行文化提高效率” <br>
                我们将以最丰富的资源，最专业的团队，最合适的价格，为您提供最优质的服务
            </p>
        </article>
        <div id="address" ></div>
        <ul class="address-detail" >
            <li><span>服务热线：</span><a href="tel:0771-4897725">0771-4897725</a></li>
            <li><span>邮箱：</span><a href="mailto:3430918928@qq.com">3430918928@qq.com</a></li>
            <li><span>地址：</span><a href="javascript:void(0)">广西南宁五象新区龙光国际B栋2020室</a></li>
            <li>
                <span>
                    微信公众号：
                </span>
                <a href="javascript:void(0)">辰景号</a>
            </li>
        </ul>
    </section>
    
    <hr class="hr-end" >


    <!-- footer -->
    <footer id="footer" >
        <aside class="left" >
            <h3>如果您有意合作，请在下面输入您的电子邮件，我们会尽快与您联系</h3>
            <div class="input-box" >
                <input type="text" >
                <svg class="icon submit" aria-hidden="true">
                    <use xlink:href="#icon-cc-arrow-right"></use>
                </svg>
            </div>
        </aside>
        <aside class="right" >
            <nav class="nav" >
                <ul>
                    <li><a href="#about">关于我们</a></li>
                    <li><a href="#service">服务</a></li>
                    <li><a href="#client">合作案例</a></li>
                    <li><a href="#contact">联系我们</a></li>
                </ul>
            </nav>
            <p>桂ICP备19012419号</p>
        </aside>
    </footer>


    <script>
        // 初始化地图
        var map = new BMapGL.Map("address");
        // 创建地图实例 
        var point = new BMapGL.Point(108.379024,22.77294);
        // 创建点坐标 
        map.centerAndZoom(point, 15);
        // 初始化地图，设置中心点坐标和地图级别
    </script>

</body>
</html>