$imgurl:"~@/images/";

$pageMaxWidth : 1200px;
$pageMinWidth : 768px;

$fontPrimary : #000;
$fontDefault : #333;
$fontSub :#999;

$fontPrimaryWhite : #fff;
$fontDefaultWhite : #eee;
$fontSubWhite : #aaa;
